//color
$bg-color: #fff;
$greyF4: #f4f4f4;
$greyEC: #ececec;
$greyE4: #e4e4e4;
$greyDE: #dedede;
$greyC4: #c4c4c4;
$grey99: #999999;

$text-color: #333333;

$red-color: #dc3e22;
$red-hover-color: #b7280f;

$green-color: #a8b64f;
$green-hover-color: #899441;
